<h3>Treatments</h3>
<div class="container" id="treatment-form">

<%= bootstrap_form_for(@treatment) do |f| %>
      <div><f.text_field :med_name class="form-control" placeholder="Medication Name"></div>
      <div><f.text_field :med_dosage class="form-control" placeholder="Medication Dosage"></div>
      <div><f.text_area :comments, placeholder="Leave comments on your medications or therapies" %>
<% end %>

</div>
