<h1>Treatments#show</h1>
<p>Find me in app/views/treatments/show.html.erb</p>

<label>Medication Name: </label><%= @treatment.med_name %><br>
<label>Medication Dosage: </label><%= @treatment.med_dosage %><br>
<label>Therapy Type: </label><%= @treatment.therapy_name %><br>
<label>Comments: </label><%= @treatment.comments %><br>
