<h1>Therapists#index</h1>
<p>Find me in app/views/therapists/index.html.erb</p>

<%= @therapists.each do |t| %>
<h3><label>Name: </label> <%= t.name %></h3>
<p><label>Location: </label> <%= t.location %></p>
<% end %>
