<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<body>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<h1> Hi, <% @user.name %>! </h1>
</body>
