<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>



<h1> Hi, <%= current_user.name %>! </h1>

<p>Welcome to a community of women supporting each other with knowledge, empathy, and compassion.
  Please feel free to look around and make conenctions with other users who can help you on your
  on your journey with trauma. Remember, we all experience this journey differently, so it's
  important to be understanding of each person's process.</p>

  <p>One of the most important parts of processing trauma is finding a good therapist. If you've found one that you
  can recommend, please take a minute to submit them here.</p>
  <%= link_to 'Submit Therapist', therapists_new_path, class: "btn btn-primary" %></li>
