<h1>Disorders</h1>
<% @disorders.each do |disorder| %>
<div>
<!-- <p class='disorder'><%#= link_to disorder.name, disorder_user_disorders_path(disorder),  { :class=>"disorder_link" } %></p> -->
<!-- <p><%#= disorder.description %></p> -->

<%# Make this path to the show page, and the show page have a spot to show narratives %>

<p class='disorder'>
  <%= link_to disorder.name, disorder_path(disorder), {  :class => 'disorder_link'} %> </p>



<% end %>
