<body>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<div class="hero-image">
  <div id="main_stat"><p>In the US, nearly 10% of people suffer from
    Post Traumatic Stress Disorder, with women being more at risk.</p>
    <div>
</div>
</body>
