<h3>Take Control of Your Narrative</h3>
<%= form_for(@user_disorder) do |f| %>
<label>Choose a Type of Trauma</label>
<%= f.collection_select :disorder_id, Disorder.all, :id, :name, include_blank: false %>

  <label>Your Story:</label><br>
  <%=  f.text_area :narrative, size: "80%x30%" %><br>

  <%= f.submit 'Submit' %>
<% end %>
