<h1>UserDisorders#show</h1>
<p>Find me in app/views/user_disorders/show.html.erb</p>
<h1><%=@user_disorder.user.name%>'s Page</h1>
<h2><%= @user_disorder.disorder.name %></h2>
<p><%= @user_disorder.narrative %></p>
